# AWS Credentials
AWS_ACCESS_KEY_ID="<Access ID for the bucket"
AWS_SECRET_ACCESS_KEY="<Access Key for the bucket>"

# Optional: if using temporary credentials
# AWS_SESSION_TOKEN="YOUR_AWS_SESSION_TOKEN"
# Optional: set a default region
AWS_DEFAULT_REGION="us-east-1"
AWS_ENDPOINT_URL="<Endpoint for your ANF, typically 'https://IPaddress'"
AWS_CA_BUNDLE="/app/scripts/bucket.pem"
NODE_TLS_REJECT_UNAUTHORIZED="0"
AWS_REQUEST_CHECKSUM_CALCULATION="WHEN_REQUIRED"
AWS_RESPONSE_CHECKSUM_VALIDATION="WHEN_REQUIRED"

# Set to "true" for debug logging
DEBUG="false"
